{% extends 'base.html' %}
{% block page_content %}
<form method="get">
    <div>口令：</div>
    <input type="password" id="pwd" name="pwd">
</form>
<div>宣传</div>
<p2>千字文 by Dpair&quest</p2>
<p>

大风泱泱，大潮滂滂。天地并存，日月同光。

前有古人，星光灿烂，后有来者，群英堂堂。

星燧贸迁，时代嬗变。摩挲素月，俯仰千年。

山有扶苏，隰有荷花。吾辈青年，芝兰秀发。

纵有千古，横有八荒。前途似海，来日方长。

凡心所向，素履以往。生如逆旅，一苇以航。

岁月骛过，山陵浸远。大江奔涌，时代招新。

轻舟虽晚，终归桑梓。踔厉奋发，行则将至。

和光同尘，与时舒卷。戢鳞潜翼，思属风云。

日月经天，江河行地。岁月其迈，时盛岁兴。

泱泱中华，万古江河。如日之升，如月之恒。

夏生人魂，商周跂火。纠纠老秦，巍巍大汉。

隋戈三舞，唐唱千秋。宋挥玉斧，元挎革囊。

明震四方，清落九州。岁月不语，唯石能言。

十年饮冰，难凉热血。焚膏继晷，兀兀穷年。

真人之心，如珠在渊。众人之心，如泡在水。

千般荒凉，以此为梦。万里蹀躞，以此为归。

尘雾之微，补益山海。荧烛末光，增辉日月。

丹心寸意，皆为有情。岂曰无衣，与子同裳。

历史长河，滚滚向前。大浪淘沙，始见真金。

万里长江，九曲黄河。千里奔涌，万壑归流。

奇花初胎，煜煜煌煌。彩云出岫，斑斓霞光。

时代嬗变，催生博弈。社会息壤，哺育新境。

星海横流，岁月成碑。春来夏往，秋收冬藏。

心有火炬，目有繁星。粗粝能甘，纷华不染。

天有风雨，宫室避之。地有山川，舟车通之。

身在井隅，心向星光。眼里有诗，自在远方。

迷途漫漫，终有一归。不啻微茫，造炬成阳。

驰隙流年，星霜暗换。瑶光贯日，光华骀荡。

君子之交，其淡如水。执象而求，咫尺千里。

问余何适，廓尔忘言。华枝春满，天心月圆。

雨落花蕊，甘苦自观。水入容器，方圆自明。

日月开元，万象启篇。流光一瞬，华表千年。

一善染心，万劫不朽。百灯旷照，千里通明。

吐纳英华，莫非性情。岁月流转，时空长新。

大音希声，大象无形。青山为证，江海为名。

五色交辉，相得益彰。八音合奏，终和且平。

蒲柳之姿，望秋而落。松柏之质，经霜弥茂。

蓬生麻中，不扶而直。白沙在涅，与之俱黑。

大智不群，大善无帮。何惧孤步，何惧毁谤。

春花秋月，夏日冬雪。忠心正气，千古不磨。

青山无言，永怀碧血。日月行天，以鉴丹心。

清风碧水，姑苏夜凉。陌上青柳，尘间飞花。

山不厌高，海不厌深。周公吐哺，天下归心。
</p>
{% endblock %}